#menu-0 .navbar-toggler {
  color: #000;
}
#header1-1 H1 {
  color: #000000;
}
#header1-1 P {
  color: #000000;
}
#menu-4 .navbar-toggler {
  color: #000;
}
#menu-c .navbar-toggler {
  color: #000;
}
#content1-g H1 {
  color: #d9534f;
}
#content1-g H3 {
  color: #d9534f;
}
#content1-g UL {
  color: #313131;
}
#content1-g P {
  text-align: left;
}
